*{
      margin: 0;padding: 0;
}
.container{
      /* background-color: yellow; */
      width: 80%;
      margin: auto;
      padding: 60px;
      text-align: center;
}
img{
      width: 18%; 
}
h1{
      font-size: 60px;
}
p{
      font-size: 20px;
}