<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Quiz</title>
  <link rel="stylesheet" href="../../css/style.css" />
  <script defer src="play.js"></script>
</head>

<body>
  <nav>
    <ul>
      <!-- TODO: Complete the link -->
      <a href="#"><img src="../../img/logo.png" /></a>
      <h2>Quiz App</h2>
    </ul>
    <ul>
      <li><a href="#">Edit quiz</a></li>
      <li><a href="#">Play quiz</a></li>
    </ul>
  </nav>
  <div id="play-view">
    <!-- TODO: Add the code related to STEP 2 -->
  </div>
</body>

</html>