<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container" id="app" v-cloak>
        <div class="card-container">
            <div class="card">
                <div class="card-title">Maximum</div>
                <div class="card-body">
                   <h3>{{maximum}}</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-title">Minimum</div>
                <div class="card-body">
                   <h3>{{minimum}}</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-title">Average</div>
                <div class="card-body">
                   <h3>{{average}}</h3>
                </div>
            </div>
        </div>
        <div class="form-container">
            <form>
                <div class="form-group">
                    <input type="text" placeholder="Subject name" v-model="name" >
                    <input type="number" placeholder="Score" v-model="score">
                    <button type="button" @click="addScore">Add Score</button>
                </div>
            </form>
        </div>
        <div class="result-container">
            <table>
                <thead>
                    <tr>
                        <th>Subject Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody >
                    <tr v-for="subject in subjects" :key="subject.name">
                        <td>{{subject.name}}</td>
                        <td :class="isFailed(subject.score)">{{subject.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@next"></script>
<script src="js/app.js"></script>
</html>