*{
    margin: 0;padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    padding-left: 30px;
    flex-wrap: wrap;
}
.card{
    margin: 20px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    justify-content: space-evenly;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
span, button{
    width: 30%;
    background: orange;
    color: white;
    font-size: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
}