body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    width: 35%;
    height: 55vh;
}

img {
    width: 100px;
    height: 25vh;
}

h2 {
    font-size: 50px;
}