form {
    max-width: 400px;
    margin: auto;
    padding: 3%;
    background-color: pink;
}
h1{
    text-align: center;
    border-radius: 5px;
    background-color :teal;
    color: #fff;
    
}
div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-right: 10px;
}

input[type="text"]{
    width: 97.5%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    padding:10px 20px ;
    width: 100%;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
}

button[type="submit"]:hover {
    background-color: teal;
}